.App {
  text-align: center;
  
}

body{
  background-image: url("background.png");
  background-size: cover;
}

.jokebox{
  background-color: rgba(224, 224, 224, 0.65);
  text-align: center;
  padding: 40px;
  width: 80%;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
}

.button{
  width: 150px;
}

.header{
  font-size:30px;
}